.image-preview-container {
    margin: 100px auto;
    width: 100%;
    text-align: center;
  }

.image-preview {
  align-content: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin-left: 10px;
  text-align: center;
}

.thumbnail-preview {
    width: 150px;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    transition: all 0.5s ease;
    justify-content: center;
    filter: brightness(40%);
}
  
.thumbnail-preview:hover {
    transform: scale(1.2);
    filter: brightness(90%);
}
  