.upload-page-container {
    background-color: #424242e6;  /* Slightly lighter grey for the container for some contrast */
    padding: 0px;
    padding-top: 20px; 
    border-radius: 2px;         /* Optional: rounds the corners of the container */
    width: 100%;
    height: auto;
}

.upload-page-header {
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: white;
}

h1 {
    margin: 0;
    color: white;
}


#upload-page-content {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
    padding-top: 1rem !important;
    box-sizing: border-box;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    height: calc(100vh - 4rem);
    justify-items: stretch;
    margin-top: 0;
    max-height: calc(100vh - 4rem);
    min-height: 0;
    padding-bottom: 1rem !important;
    max-width: 72rem;
    margin: auto;
    border-radius: 2px;
    overflow: scroll;
}


#upload-page-content .pageHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 0px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    color: white;
    height: 65px;
    gap: 1rem;
    margin: auto;

  }


.uploadBatchSelector {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}

.uploadTagSelector {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

input {
    width: 250px;
    height: 30px;
}

.separator {
    height: 5px;
    background-color: #333333; /* Solid color example */
    background-image: linear-gradient(to right, #ccc, #333333, #ccc); /* Gradient example */
    margin-top: 15px;
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
}



#uploadContainer {
    display: flex;
    flex: 1 1 0%;
    max-width: 100%;
    min-height: 0;
    height: 100%;
    position: relative;
    width: 100%;
    border-style: dashed;
    border-width: 1px;
    margin: auto;
}


.upload-container-content {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    padding-right: 20px;
    margin: auto;
    height: auto;
    overflow: scroll;
}

.upload-container-content.after {
    display: grid;
    margin: 0px;
    border: #333333 dashed;
    border-width: 1px;
    border-radius: 5px;
    flex-direction: column;  /* Aligns children vertically */
    justify-content: flex-start;  /* Aligns children to the top */
    align-items: center;  /* Keeps children centered horizontally */
    position: relative; /* Adds some space at the top inside the container */
    box-sizing: border-box;
    height: auto;
}


.upload-buttom.after {
    display: flex;
    align-items: flex-end;
    justify-content: end;
    align-self: flex-start;
    padding: 10px 10px;
    font-size: 16px;
    cursor: pointer;
    gap: 1.5rem;
    margin: 10px 10px;
    margin-left: auto;
    position: relative;
}
