:root {
    --coolgray-600: #4b5563;
    --coolgray-900: #111827;
    --purple: #6706ce;
    --purboflow-500: #6706ce;
    --white: white;
    --aquamarine: #35ecd9;
    --eggplant: #46005e;
    --deeep_purple-900: #2c005b;
    --plum: #af9bce;
    --ultraviolet: #8315f9;
    --purboflow-400: #8315f9;
    --purple-2: #4202b8;
    --light: #e3d8f5;
    --coolgray-500: #6b7280;
    --purboflow-600: #5905b3;
    --annotation_l: #ccc;
    --coolgray-700: #374151;
    --gray: #666;
    --gold: #ffc300;
    --dark: #170925;
    --coolgray-300: #d1d5db;
    --white-smoke: #eee;
    --black: black;
    --coolgray-50: #f9fafb;
    --coolgray-100: #f3f4f6;
    --coolgray-200: #e5e7eb;
    --coolgray-400: #9ca3af;
    --coolgray-800: #1f2937;
    --purboflow-50: #f2e6fe;
    --purboflow-100: #e2c8fe;
    --purboflow-200: #c28dfc;
    --purboflow-300: #a351fb;
    --purboflow-700: #4d049a;
    --purboflow-800: #3d037b;
    --purboflow-900: #2c005b;
    --aquavision-100: #dffdf6;
    --aquavision-300: #a5f9ea;
    --aquavision-500: #35ecd9;
    --aquavision-700: #00cfc6;
    --aquavision-900: #0498a1;
    --sky-200: #bae6fd;
    --sky-400: #38bdf8;
    --sky-500: #0ea5e9;
    --sky-600: #0284c7;
    --sky-800: #075985;
    --red-200: #fecaca;
    --red-400: #f87171;
    --red-500: #ef4444;
    --red-600: #dc2626;
    --red-800: #991b1b;
    --amber-200: #fde68a;
    --amber-300: #fcd34d;
    --amber-400: #fbbf24;
    --amber-500: #f59e0b;
    --amber-700: #b45309;
    --annotation_a: #c7fc00;
    --annotation_b: magenta;
    --annotation_c: #8622ff;
    --annotation_d: #fe0056;
    --annotation_e: #00ffce;
    --annotation_f: #ff8000;
    --annotation_g: #00b7eb;
    --annotation_h: yellow;
    --annotation_i: #0e7afe;
    --annotation_j: #ffabab;
    --annotation_k: blue;
    --black50: rgba(0,0,0,.5);
    --midnight-blue: #062455;
    --aa-teal: #00755f;
    --50p-white: rgba(255,255,255,.5);
    --dark-transparent: rgba(0,0,0,.5);
    --dark-slate-blue: #003c9e;
    --beet: #441953;
    --black20: rgba(0,0,0,.2);
    --deep_purple: #270035;
    --deep_navy: #0d022e;
  }